In [1]:
import pandas as pd
import numpy as np

In [26]:
data_xtest = pd.read_csv('X_test.txt', header=None)

In [27]:
data_xtrain = pd.read_csv('X_train.txt')

In [28]:
data_ytrain = pd.read_csv('Y_train.txt')

In [17]:
data_xtrain.head()

,497.00,0.00,0.00.1,148.00,185.00,2.00,56.00,286.96,0.00.2,728916.00,...,0.00.42,0.00.43,0.00.44,0.00.45,0.00.46,0.00.47,0.00.48,0.00.49,0.00.50,0.00.51
0,308.0,0.0,12.0,0.0,0.0,0.0,0.0,178.80,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,1169.0,14.0,7316.0,132.0,165.0,2.0,40.0,331.04,0.0,1857180.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,28.0,35.0,0.0,32.0,208.64,0.0,143940.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1974.0,21.0,4656.0,492.0,615.0,28.0,200.0,220.08,0.0,52770.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1211.0,7.0,2624.0,128.0,160.0,0.0,48.0,220.08,0.0,4147200.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
from sklearn.model_selection import train_test_split

In [44]:
y_test

,0,1,2,3,4,5,6,7,8,9,...,97,98,99,100,101,102,103,104,105,106
7069,1379.0,7.0,176.0,124.0,155.0,2.0,0.0,233.44,0.0,127860.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
733,1162.0,7.0,412.0,168.0,210.0,0.0,144.0,193.28,0.0,255654.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5278,2590.0,28.0,2388.0,520.0,650.0,12.0,176.0,200.00,0.0,246006.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3241,1113.0,14.0,3208.0,152.0,190.0,0.0,32.0,220.08,0.0,6909120.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2909,896.0,0.0,0.0,396.0,495.0,2.0,144.0,258.40,5.0,5958768.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5619,3024.0,7.0,164.0,308.0,385.0,6.0,24.0,153.20,0.0,2402424.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6546,42.0,0.0,0.0,100.0,125.0,4.0,0.0,326.80,5.0,3264798.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
745,826.0,14.0,8.0,160.0,200.0,2.0,8.0,359.44,0.0,126576.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2505,161.0,0.0,0.0,36.0,45.0,0.0,32.0,43.52,5.0,240564.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3585,756.0,7.0,164.0,124.0,155.0,4.0,72.0,257.68,0.0,6739200.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [34]:
X_train, X_test, y_train, y_test = train_test_split(data_xtrain,data_xtest, test_size=0.2, random_state=0)

In [13]:
from sklearn.ensemble import RandomForestRegressor

regressor = RandomForestRegressor(n_estimators=20, random_state=0)
regressor.fit(data_xtrain, data_ytrain)
y_pred = regressor.predict(data_xtest)

C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

In [45]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(data_xtrain)
X_test = sc.transform(data_xtest)

In [55]:
from sklearn.ensemble import RandomForestRegressor

regressor = RandomForestRegressor(n_estimators=107, random_state=0)
regressor.fit(X_train, data_ytrain)
y_pred = regressor.predict(X_test)

C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

In [48]:
y_pred

array([0.25, 0.1 , 0.6 , ..., 0.35, 1.  , 0.6 ])

In [58]:
from sklearn import metrics

print('Mean Absolute Error:', metrics.mean_absolute_error(X_test, X_train))
print('Mean Squared Error:', metrics.mean_squared_error(X_test, X_train))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(X_test, X_train)))

Mean Absolute Error: 0.7050879367609287
Mean Squared Error: 2.3259628530762266
Root Mean Squared Error: 1.525110767477637

In [60]:
#training algorithm for classification 
from sklearn.ensemble import RandomForestRegressor

regressor = RandomForestRegressor(n_estimators=107, random_state=0)
regressor.fit(X_train, data_ytrain)
y_pred = regressor.predict(X_test)

C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(confusion_matrix(X_test, X_train))
print(classification_report(X_test, X_train))
print(accuracy_score(X_test, X_train))